[data-fill="American League"]{
  --team-color: var(--al-red);
}

[data-fill="National League"]{
  --team-color: var(--nl-navy);
}

[data-fill="Orioles"],
[data-winner="Orioles"] {
  --team-color: var(--orioles-orange);
  --team-shadow-color: var(--orioles-black);
}

[data-fill="Red Sox"],
[data-winner="Red Sox"] {
  --team-color: var(--redsox-red);
  --team-shadow-color: var(--redsox-blue);
}

[data-fill="Yankees"],
[data-winner="Yankees"] {
  --team-color: var(--yankees-navy);
  --team-shadow-color: var(--yankees-blue);
}

[data-fill="Rays"],
[data-winner="Rays"] {
  --team-color: var(--rays-navy);
  --team-shadow-color: var(--rays-columbia-blue);
}

[data-fill="Blue Jays"],
[data-winner="Blue Jays"] {
  --team-color: var(--bluejays-blue);
  --team-shadow-color: var(--bluejays-red);
}

[data-fill="White Sox"],
[data-winner="White Sox"] {
  --team-color: var(--whitesox-silver);
  --team-shadow-color: var(--whitesox-black);
}


[data-fill="Indians"],
[data-winner="Indians"] {
  --team-color: var(--indians-red);
  --team-shadow-color: var(--indians-navy);
}

[data-fill="Guardians"],
[data-winner="Guardians"] {
  --team-color: var(--guardians-red);
  --team-shadow-color: var(--guardians-navy);
}

[data-fill="Tigers"],
[data-winner="Tigers"] {
  --team-color: var(--tigers-navy);
  --team-shadow-color: var(--tigers-orange);
}

[data-fill="Royals"],
[data-winner="Royals"] {
  --team-color: var(--royals-blue);
  --team-shadow-color: var(--royals-blue);
}

[data-fill="Twins"],
[data-winner="Twins"] {
  --team-color: var(--twins-navy);
  --team-shadow-color: var(--twins-scarlet-red);
}

[data-fill="Athletics"],
[data-winner="Athletics"] {
  --team-color: var(--athletics-green);
  --team-shadow-color: var(--athletics-gold);
}

[data-fill="Astros"],
[data-winner="Astros"] {
  --team-color: var(--astros-orange);
  --team-shadow-color: var(--astros-darkblue);
}

[data-fill="Angels"],
[data-winner="Angels"] {
  --team-color: var(--angels-maroon);
  --team-shadow-color: var(--angels-blue);
}

[data-fill="Mariners"],
[data-winner="Mariners"] {
  --team-color: var(--mariners-aqua);
  --team-shadow-color: var(--mariners-navy);
}

[data-fill="Rangers"],
[data-winner="Rangers"] {
  --team-color: var(--rangers-blue);
  --team-shadow-color: var(--rangers-red);
}

[data-fill="Braves"],
[data-winner="Braves"] {
  --team-color: var(--braves-scarlet);
  --team-shadow-color: var(--braves-navy);
}

[data-fill="Marlins"],
[data-winner="Marlins"] {
  --team-color: var(--marlins-black);
  --team-shadow-color: var(--marlins-miamiblue);
}

[data-fill="Mets"],
[data-winner="Mets"] {
  --team-color: var(--mets-orange);
  --team-shadow-color: var(--mets-blue);
}

[data-fill="Phillies"],
[data-winner="Phillies"] {
  --team-color: var(--phillies-red);
  --team-shadow-color: var(--phillies-blue);
}

[data-fill="Nationals"],
[data-winner="Nationals"] {
  --team-color: var(--nationals-red);
  --team-shadow-color: var(--nationals-blue);
}

[data-fill="Cubs"],
[data-winner="Cubs"] {
  --team-color: var(--cubs-blue);
  --team-shadow-color: var(--cubs-red);
}

[data-fill="Reds"],
[data-winner="Reds"] {
  --team-color: var(--reds-red);
  --team-shadow-color: var(--reds-black);
}

[data-fill="Brewers"],
[data-winner="Brewers"] {
  --team-color: var(--brewers-navy);
  --team-shadow-color: var(--brewers-yellow);
}

[data-fill="Pirates"],
[data-winner="Pirates"] {
  --team-color: var(--pirates-gold);
  --team-shadow-color: var(--pirates-black);
}

[data-fill="Cardinals"],
[data-winner="Cardinals"] {
  --team-color: var(--cardinals-red);
  --team-shadow-color: var(--cardinals-navy);
}

[data-fill="Diamondbacks"],
[data-winner="Diamondbacks"] {
  --team-color: var(--dbacks-red);
  --team-shadow-color: var(--dbacks-black);
}

[data-fill="Rockies"],
[data-winner="Rockies"] {
  --team-color: var(--rockies-silver);
  --team-shadow-color: var(--rockies-black);
}

[data-fill="Dodgers"],
[data-winner="Dodgers"] {
  --team-color: var(--dodgers-blue);
  --team-shadow-color: var(--dodgers-blue);
}

[data-fill="Padres"],
[data-winner="Padres"] {
  --team-color: var(--padres-brown);
  --team-shadow-color: var(--padres-brown);
}

[data-fill="Giants"],
[data-winner="Giants"] {
  --team-color: var(--giants-orange);
  --team-shadow-color: var(--giants-black);
}



[data-team="Red Sox"],
[data-team="Guardians"],
[data-team="Astros"],
[data-team="Braves"],
[data-team="Mets"],
[data-team="Phillies"],
[data-team="Reds"],
[data-team="Cardinals"],
[data-team="Diamondbacks"],
[data-team="Giants"] {
  [data-fill="Orioles"],
  [data-winner="Orioles"] {
    --team-color: var(--orioles-black);
    --team-shadow-color: var(--orioles-orange);
  }
}

[data-team="Orioles"],
[data-team="Guardians"],
[data-team="Tigers"],
[data-team="Twins"],
[data-team="Angels"],
[data-team="Braves"],
[data-team="Mets"],
[data-team="Phillies"],
[data-team="Nationals"],
[data-team="Reds"],
[data-team="Cardinals"],
[data-team="Diamondbacks"],
[data-team="Giants"] {
  [data-fill="Red Sox"],
  [data-winner="Red Sox"] {
    --team-color: var(--redsox-fenwaygreen);
    --team-shadow-color: var(--redsox-yellow);
  }
}

[data-team="Orioles"],
[data-team="Red Sox"],
[data-team="Rays"],
[data-team="Blue Jays"],
[data-team="Guardians"],
[data-team="Tigers"],
[data-team="Royals"],
[data-team="Twins"],
[data-team="Athletics"],
[data-team="Angels"],
[data-team="Mariners"],
[data-team="Rangers"],
[data-team="Marlins"],
[data-team="Cubs"],
[data-team="Brewers"],
[data-team="Diamondbacks"],
[data-team="Dodgers"],
[data-team="Padres"] {
  [data-fill="Yankees"],
  [data-winner="Yankees"] {
    --team-color: var(--yankees-gray);
    --team-shadow-color: var(--yankees-navy);
  }
}

[data-team="Orioles"],
[data-team="Red Sox"],
[data-team="Yankees"],
[data-team="Blue Jays"],
[data-team="Guardians"],
[data-team="Tigers"],
[data-team="Royals"],
[data-team="Twins"],
[data-team="Athletics"],
[data-team="Angels"],
[data-team="Rangers"],
[data-team="Marlins"],
[data-team="Cubs"],
[data-team="Brewers"],
[data-team="Diamondbacks"],
[data-team="Dodgers"],
[data-team="Padres"] {
  [data-fill="Rays"],
  [data-winner="Rays"] {
    --team-color: var(--rays-columbia-blue);
    --team-shadow-color: var(--rays-navy);
  }
}

[data-team="Orioles"],
[data-team="Red Sox"],
[data-team="Yankees"],
[data-team="Rays"],
[data-team="Guardians"],
[data-team="Tigers"],
[data-team="Royals"],
[data-team="Twins"],
[data-team="Athletics"],
[data-team="Angels"],
[data-team="Rangers"],
[data-team="Marlins"],
[data-team="Cubs"],
[data-team="Brewers"],
[data-team="Diamondbacks"],
[data-team="Dodgers"],
[data-team="Padres"] {
  [data-fill="Blue Jays"],
  [data-winner="Blue Jays"] {
    --team-color: var(--bluejays-powderblue);
    --team-shadow-color: var(--bluejays-blue);
  }
}

[data-team="Rockies"] {
  [data-fill="White Sox"],
  [data-winner="White Sox"] {
    --team-color: var(--whitesox-black);
    --team-shadow-color: var(--whitesox-silver);
  }
}

[data-team="Red Sox"],
[data-team="Orioles"],
[data-team="Mets"],
[data-team="Phillies"],
[data-team="Braves"],
[data-team="Nationals"],
[data-team="Reds"],
[data-team="Cardinals"],
[data-team="Diamondbacks"],
[data-team="Giants"] {
  [data-fill="Indians"],
  [data-winner="Indians"] {
    --team-color: var(--indians-navy);
    --team-shadow-color: var(--indians-red);
  }

  [data-fill="Guardians"],
  [data-winner="Guardians"] {
    --team-color: var(--guardians-navy);
    --team-shadow-color: var(--guardians-red);
  }
}

[data-team="Red Sox"],
[data-team="Yankees"],
[data-team="Rays"],
[data-team="Blue Jays"],
[data-team="Royals"],
[data-team="Twins"],
[data-team="Athletics"],
[data-team="Rangers"],
[data-team="Angels"],
[data-team="Marlins"],
[data-team="Cubs"],
[data-team="Brewers"],
[data-team="Dodgers"],
[data-team="Padres"] {
  [data-fill="Tigers"],
  [data-winner="Tigers"] {
    --team-color: var(--tigers-orange);
    --team-shadow-color: var(--tigers-navy);
  }
}

[data-team="Orioles"],
[data-team="Red Sox"],
[data-team="Yankees"],
[data-team="Rays"],
[data-team="Blue Jays"],
[data-team="Guardians"],
[data-team="Tigers"],
[data-team="Twins"],
[data-team="Athletics"],
[data-team="Rangers"],
[data-team="Angels"],
[data-team="Marlins"],
[data-team="Cubs"],
[data-team="Brewers"],
[data-team="Dodgers"],
[data-team="Padres"] {
  [data-fill="Royals"],
  [data-winner="Royals"] {
    --team-color: var(--royals-powderblue);
    --team-shadow-color: var(--royals-blue);
  }
}

[data-team="Yankees"],
[data-team="Rays"],
[data-team="Blue Jays"],
[data-team="Tigers"],
[data-team="Royals"],
[data-team="Athletics"],
[data-team="Rangers"],
[data-team="Angels"],
[data-team="Marlins"],
[data-team="Cubs"],
[data-team="Brewers"],
[data-team="Dodgers"],
[data-team="Padres"] {
  [data-fill="Twins"],
  [data-winner="Twins"] {
    --team-color: var(--twins-scarlet-red);
    --team-shadow-color: var(--twins-navy);
  }
}

[data-team="Red Sox"],
[data-team="Yankees"],
[data-team="Dodgers"] {
  [data-fill="Athletics"],
  [data-winner="Athletics"] {
    --team-color: var(--athletics-gold);
    --team-shadow-color: var(--athletics-green);
  }
}

[data-team="Orioles"],
[data-team="Guardians"],
[data-team="Mets"],
[data-team="Giants"] {
  [data-fill="Astros"],
  [data-winner="Astros"] {
    --team-color: var(--astros-darkblue);
    --team-shadow-color: var(--astros-orange);
  }
}

[data-team="Orioles"],
[data-team="Red Sox"],
[data-team="Yankees"],
[data-team="Rays"],
[data-team="Blue Jays"],
[data-team="Guardians"],
[data-team="Tigers"],
[data-team="Royals"],
[data-team="Twins"],
[data-team="Athletics"],
[data-team="Rangers"],
[data-team="Braves"],
[data-team="Marlins"],
[data-team="Mets"],
[data-team="Phillies"],
[data-team="Nationals"],
[data-team="Cubs"],
[data-team="Reds"],
[data-team="Brewers"],
[data-team="Cardinals"],
[data-team="Diamondbacks"],
[data-team="Padres"],
[data-team="Giants"] {
  [data-fill="Angels"],
  [data-winner="Angels"] {
    --team-color: var(--angels-sand);
    --team-shadow-color: var(--angels-maroon);
  }
}

[data-team="x"] {
  [data-fill="Mariners"],
  [data-winner="Mariners"] {
    --team-color: var(--mariners-navy);
    --team-shadow-color: var(--mariners-aqua);
  }
}

[data-team="Yankees"],
[data-team="Rays"],
[data-team="Blue Jays"],
[data-team="Tigers"],
[data-team="Royals"],
[data-team="Twins"],
[data-team="Athletics"],
[data-team="Marlins"],
[data-team="Cubs"],
[data-team="Brewers"],
[data-team="Dodgers"],
[data-team="Padres"] {
  [data-fill="Rangers"],
  [data-winner="Rangers"] {
    --team-color: var(--rangers-red);
    --team-shadow-color: var(--rangers-blue);
  }
}


[data-team="Orioles"],
[data-team="Red Sox"],
[data-team="Guardians"],
[data-team="Astros"],
[data-team="Angels"],
[data-team="Mets"],
[data-team="Phillies"],
[data-team="Nationals"],
[data-team="Reds"],
[data-team="Cardinals"],
[data-team="Diamondbacks"],
[data-team="Giants"] {
  [data-fill="Braves"],
  [data-winner="Braves"] {
    --team-color: var(--braves-navy);
    --team-color: var(--braves-blue);
    --team-shadow-color: var(--braves-scarlet);
  }
}

[data-team="Orioles"],
[data-team="Red Sox"],
[data-team="Yankees"],
[data-team="Rays"],
[data-team="Blue Jays"],
[data-team="Tigers"],
[data-team="Royals"],
[data-team="Twins"],
[data-team="Rangers"],
[data-team="Cubs"],
[data-team="Brewers"],
[data-team="Dodgers"],
[data-team="Padres"] {
  [data-fill="Marlins"],
  [data-winner="Marlins"] {
    --team-color: var(--marlins-miamiblue);
    --team-shadow-color: var(--marlins-black);
  }
}

[data-team="Orioles"],
[data-team="Red Sox"],
[data-team="Astros"],
[data-team="Phillies"],
[data-team="Nationals"],
[data-team="Cardinals"],
[data-team="Giants"] {
  [data-fill="Mets"],
  [data-winner="Mets"] {
    --team-color: var(--mets-blue);
    --team-shadow-color: var(--mets-orange);
  }
}

[data-team="Orioles"],
[data-team="Red Sox"],
[data-team="Guardians"],
[data-team="Astros"],
[data-team="Angels"],
[data-team="Braves"],
[data-team="Mets"],
[data-team="Nationals"],
[data-team="Reds"],
[data-team="Cardinals"],
[data-team="Diamondbacks"],
[data-team="Giants"] {
  [data-fill="Phillies"],
  [data-winner="Phillies"] {
    --team-color: var(--phillies-lightblue);
    --team-shadow-color: var(--phillies-blue);
  }
}

[data-team="Orioles"],
[data-team="Red Sox"],
[data-team="Guardians"],
[data-team="Astros"],
[data-team="Angels"],
[data-team="Braves"],
[data-team="Mets"],
[data-team="Phillies"],
[data-team="Reds"],
[data-team="Cardinals"],
[data-team="Diamondbacks"],
[data-team="Giants"] {
  [data-fill="Nationals"],
  [data-winner="Nationals"] {
    --team-color: var(--nationals-lightblue);
    --team-shadow-color: var(--nationals-navyblue);
  }
}

[data-team="Yankees"],
[data-team="Rays"],
[data-team="Blue Jays"],
[data-team="Tigers"],
[data-team="Royals"],
[data-team="Twins"],
[data-team="Rangers"],
[data-team="Marlins"],
[data-team="Brewers"],
[data-team="Dodgers"],
[data-team="Padres"] {
  [data-fill="Cubs"],
  [data-winner="Cubs"] {
    --team-color: var(--cubs-red);
    --team-shadow-color: var(--cubs-blue);
  }
}

[data-team="Orioles"],
[data-team="Red Sox"],
[data-team="Guardians"],
[data-team="Astros"],
[data-team="Angels"],
[data-team="Braves"],
[data-team="Mets"],
[data-team="Phillies"],
[data-team="Nationals"],
[data-team="Cardinals"],
[data-team="Diamondbacks"],
[data-team="Giants"] {
  [data-fill="Reds"],
  [data-winner="Reds"] {
    --team-color: var(--reds-black);
    --team-shadow-color: var(--reds-red);
  }
}

[data-team="Yankees"],
[data-team="Rays"],
[data-team="Blue Jays"],
[data-team="Tigers"],
[data-team="Royals"],
[data-team="Twins"],
[data-team="Rangers"],
[data-team="Marlins"],
[data-team="Cubs"],
[data-team="Dodgers"],
[data-team="Padres"] {
  [data-fill="Brewers"],
  [data-winner="Brewers"] {
    --team-color: var(--brewers-yellow);
    --team-shadow-color: var(--brewers-navy);
  }
}

[data-team="x"] {
  [data-fill="Pirates"],
  [data-winner="Pirates"] {
    --team-color: var(--pirates-gold);
    --team-shadow-color: var(--pirates-black);
  }
}

[data-team="Orioles"],
[data-team="Red Sox"],
[data-team="Guardians"],
[data-team="Astros"],
[data-team="Angels"],
[data-team="Braves"],
[data-team="Mets"],
[data-team="Phillies"],
[data-team="Nationals"],
[data-team="Reds"],
[data-team="Diamondbacks"],
[data-team="Giants"] {
  [data-fill="Cardinals"],
  [data-winner="Cardinals"] {
    --team-color: var(--cardinals-navy);
    --team-shadow-color: var(--cardinals-red);
  }
}

[data-team="Orioles"],
[data-team="Red Sox"],
[data-team="Rays"],
[data-team="Guardians"],
[data-team="Angels"],
[data-team="Braves"],
[data-team="Mets"],
[data-team="Phillies"],
[data-team="Nationals"],
[data-team="Reds"],
[data-team="Cardinals"],
[data-team="Giants"] {
  [data-fill="Diamondbacks"],
  [data-winner="Diamondbacks"] {
    --team-color: var(--dbacks-sand);
    --team-shadow-color: var(--dbacks-red);
    --team-color: var(--dbacks-turquoise);
    --team-shadow-color: var(--dbacks-boldpurple);
  }
}

[data-team="White Sox"] {
  [data-fill="Rockies"],
  [data-winner="Rockies"] {
    --team-color: var(--rockies-black);
    --team-shadow-color: var(--rockies-silver);
  }
}

[data-team="x"] {
  [data-fill="Dodgers"],
  [data-winner="Dodgers"] {
    --team-color: var(--dodgers-blue);
  }
}

[data-team="Yankees"],
[data-team="Rays"],
[data-team="Blue Jays"],
[data-team="Tigers"],
[data-team="Royals"],
[data-team="Twins"],
[data-team="Angels"],
[data-team="Rangers"],
[data-team="Marlins"],
[data-team="Cubs"],
[data-team="Brewers"],
[data-team="Dodgers"] {
  [data-fill="Padres"],
  [data-winner="Padres"] {
    --team-color: var(--padres-gold);
    --team-shadow-color: var(--padres-brown);
  }
}

[data-team="Orioles"],
[data-team="Red Sox"],
[data-team="Astros"],
[data-team="Mets"],
[data-team="Phillies"] {
  [data-fill="Giants"],
  [data-winner="Giants"] {
    --team-color: var(--giants-black);
    --team-shadow-color: var(--giants-orange);
  }
}
